.page {
	font-family: 'Inter', Arial, sans-serif;
	color      : #fff;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing : antialiased;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust    : 100%;
	-moz-text-size-adjust   : 100%;

	text-rendering: optimizeLegibility;
}




















































































































/*Работу_выволнил_М.Е._Поток_64_(darkv!olet_pr0jects)_2.0.2.3*/