.login__input {
	box-sizing: border-box;

	display   : block;
	width     : 100%;
	appearance: none;

	border       : none;
	border-bottom: 2px solid #ccc;

	padding: 0 0 8px 0;
	margin : 0 0 30px 0;

	background-color: transparent;
	outline         : none;

	font-family: 'Inter', Arial, sans-serif;
	font-size  : 14px;
	line-height: normal;
	font-weight: 400;
	color      : #fff;

	transition: border-color 0.3s ease-in-out;
}

.login__input::-webkit-input-placeholder {
	color: #ccc;
}

.login__input:-moz-placeholder {
	color: #ccc;
}

.login__input::-moz-placeholder {
	color: #ccc;
}

.login__input:-ms-input-placeholder {
	color: #ccc;
}