.profile {
	padding-top   : 40px;
	padding-bottom: 40px;
}

@media all and (min-width: 1024px) {
	.profile {
		display    : flex;
		align-items: center;
	}
}

@media all and (max-width: 1023px) {
	.profile {
		padding-top   : 42px;
		padding-bottom: 25px;
	}
}