.profile__button {
	box-sizing: border-box;

	margin : 0;
	padding: 0;

	display        : inline-flex;
	justify-content: center;

	background-color: transparent;
	border          : none;

	transition: opacity 0.3s ease-in-out;

	font-size  : 0;
	line-height: normal;
	text-indent: 0;

	white-space: nowrap;

	color: #fff;

	cursor     : pointer;
	user-select: none;
	outline: none;
}

.profile__button:hover {
	opacity: 0.6;
}