.popup__form {
	margin : 39px 0 0 0;
	padding: 0;
}

@media all and (max-width: 767px) {
	.popup__form {
		margin-top: 74px;
	}
}






















































































































/* Работу выволнил М.Е. Поток 64 (darkviolet-projects) 2-0-2-3 год. */